@import "./colors";
@import "./themes";

@mixin button($bg-color-name, $font-color) {
    background-color: $bg-color-name;
    border-radius: 25px;
    color: $font-color;
    text-align: center;
    height: 35px;
    min-width: 120px;
    font-size: 14px;
    border: none;
  }
  
  .button-primary {
    @include button($primary,white);
  }
  .button-primary:disabled {
    @include button(lightblue, grey);
  }
  .button-success {
    @include button($success, white);
  }
  
  .button-warning {
    @include button($warning, white);
  }
  
  .button-secondary {
    @include button(var(--background-color),var(--title-color));
  }
  .button-secondary:hover {
    @include button( var(--title-color), var(--background-color));
    border: 1px solid #f1f1f1;
  }
  
  .button-danger {
    @include button($danger, white);
  }
  .button-danger:disabled {
    @include button(danger-light, white);
  }
  


  /*  Toggle button to switch theme */
  .toggle-switch {
    position: relative;
    width: 40px;
    display: inline-block;
    text-align: left;
    top: 5px;
  }
  .checkbox {
    display: none;
  }
  .label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0 solid #bbb;
    border-radius: 20px;
  }
  .inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
  }
  .inner:before,
  .inner:after {
    float: left;
    width: 50%;
    height: 20px;
    padding: 0;
    line-height: 20px;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
  }
  .inner:before {
    content: "";
    padding-left: 10px;
    background-color: var(--success);
    color: #fff;
  }
  .inner:after {
    content: "";
    padding-right: 10px;
    background-color: #bbb;
    color: #fff;
    text-align: right;
  }
  .switch {
    display: block;
    width: 14px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 13px;
    border: 0 solid #bbb;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
    height: 15px;
    margin: 3px;
  }
  .checkbox:checked + .label .inner {
    margin-left: 0;
  }
  .checkbox:checked + .label .switch {
    right: 0px;
  }