

$dark-title: #ffffff;
$light-title: #21272e;

$dark-title2: #7c33e9;
$light-title2: #d67339;

$dark-subtitle: #64676d;
$light-subtitle: #23282c;

$dark-bg-body: #1A2028;
$dark-bg-main-container: #21272F;
$light-bg-main-container: #f8fafc;

$dark-bg-secondary-container: #d67339;
$light-bg-secondary-container: #7c33e9;

$dark-navlink: #c7c7c7;
$light-navlink: #21272e;

$success: #5CB85C;
$primary: #03A9F4;
$secondary: #1f1f1f;
$warning: #ad4102;
$danger:  #D9534F;
$transparent: transparent;

